* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ffcc;
}

nav a.active {
    color: #00ffcc;
}
.profile-section {
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.profile-image {
    width: 300px;  /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.linkedin-image{
    width: 50px;  /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.profile-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
}

main {
    margin-top: 4rem; /* Space for fixed navbar */
    padding: 2rem;
}

/* Responsive design */
@media (max-width: 600px) {
    nav {
        padding: 1rem;
    }

    nav a {
        margin-right: 1rem;
        font-size: 1rem;
    }
}